@import "tailwindcss";

/* Navbar */
.nav {
  box-shadow: 0 5.439px 40.792px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.897689819335938px);
}

@media (width >= 64rem) {
  .nav {
    box-shadow: none;
    backdrop-filter: none;
  }
}

@font-face {
  font-family: 'Unageo';
  src: url('/unageo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.unageo{
  font-family: 'Unageo', sans-serif;
}
